<li>
<section class="dir-item">
  <div id="file-container">
    <ul>
      <li id="file-name">Name: {{name}}</li>
      <li id="file-path">Path: {{path}}</li>
      <a id="file-url"href={{path}}>URL</a>
    <ul>
  </div>
</section>
</li>
