<li>
<section class="dir-item">
  <div id="file-container">
    <ul>
      <li id=file-path>Path: {{path}}</li>
      <li id=file-size>Size: {{size}}</li>
      <a id=file-url href={{url}}>{{url}}</a>
    <ul>
  </div>
</section>
</li>
